[color]
        ui = true
[push]
	default = upstream
[alias]
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        st = status
[svn]
        # push empty directory removals back to svn as directory deletes
        rmdir = true
        # set svn:mergeinfo when pushing merge commits
        pushmergeinfo = true
